<header class="navbar">
    <h1 class="navbar-title">TO DO LIST</h1>
    <div>
        <button onclick="window.location.href='/category/category'">Add Category </button>
        <button onclick="window.location.href='/task/newTask'">Add Task </button>
    </div>
</header>