<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - Book Library</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/css/style.css">

    <style>
        .nav-list {
            display: flex;
            list-style: none;
            gap: 10px;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            align-items: center;
        }

        .book {
            display: flex;
            /* gap: 0px; */
        }

        .actions {
            display: flex;
            gap: 10px;
        }
    </style>
</head>

<body>



    <h1>My To do list Application</h1>
    <p>An error just happened</p>

    <%= error %>


        <!-- Footer -->
        <footer>
            <p>&copy; 2024 &lt;ChidexWorld/&gt. All rights reserved.</p>
        </footer>
</body>

</html>