<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login To do app</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <h1>To do application</h1>
    <% if (message) { %>
        <small class="message">
            <%= message %>
        </small>
        <% } %>

    <form action="/auth/loginUser" method="POST" enctype="application/x-www-form-urlencoded">
        <h1>Login in to your account</h1>
        <div>
            <label for="username">UserName or Email:</label>
            <input type="text" name="username" id="username" required>
            <br>
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
            <br>
        </div>


        <% if (error) { %>
            <small class="error-message">
                <%= error %>
            </small>
            <% } %>

                <button type="submit">Login</button>
                <a href="http://localhost:3000/auth/signUp">i don't have an account</a>
    </form>


</body>

</html>